.Datasection {
	position: relative;
	width: 100%;
	height: 100vh;
	color: #445259;
	background-color: #ffffff;

	text {
		font-size: 9pt;
		font-weight: 700;
		opacity: .9;
	}

	image {
		width: 50px;
		transition: opacity .3s, width .3s;

		&:hover {
			width: 60px;
			cursor: pointer;
		}

		&.bigger {
			width: 100px;

			&:hover {
				width: 100px;
			}
		}

		&.faded_out {
			opacity: .2;
		}

		&.filtered_out {
			opacity: .2;
		}
	}

	line {
		transition: opacity .3s;

		&:hover {
			stroke-width: 5;
			stroke: #445259;
			transition: .2s;
			cursor: pointer;
		}

		&.filtered_out {
			opacity: .1;
		}
	}

	.detailsection {
		position: absolute;
		right: 0;
		top: 0;
		padding: 100px 35px 0 0;

		.nodedetails {
			margin: 10px 10px 25px 10px;
			width: 500px;
			position: relative;
			padding: 20px 20px 5px 20px;
			font-size: .85em;
			text-align: left;
			border: 2px solid #445259;
			background: #ffffff;
			border-radius: 8px;
			box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .3);
			transition: .5s;
			overflow: hidden;

			div:first-of-type {
				width: 100%;
				position: relative;
				padding-left: 50px;
				padding-bottom: 15px;

				img {
					width: 40px;
					height: 40px;
					margin-left: -50px;
					position: absolute;
					display: inline-block;
					border-radius: 100%;
				}

				p {
					min-height: 1em;
				}
			}

			table {
				width: 100%;
				display: block;
				height: 0;
				padding: 0;
				transition: .5s;

				&.open {
					height: 100%;
					padding: 15px 0;
					border-top: 2px solid #445259;
				}

				tr {
					td {
						&:first-child {
							font-weight: 900;
							padding-right: 40px;
						}
					}
				}
			}
		}
	}
}