.Datasection {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;

  $border: 50px;
  background-clip: padding-box; 
  border: solid $border transparent; 

  &:before {

    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }

  text {
    font-size: 9pt;
    font-weight: 700;
    opacity: .9;
  }

  .node:hover {
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    min-width: 400px;
    padding: 20px;
    text-align: center;
    font-size: .85em;
    color: #fff;
    background: rgba(69, 138, 178, .85);
    border-radius: 10px;
    pointer-events: none;
  }

  .tooltip h1, h2, h3, p {
    padding: 10px 0;
    color:#fff
  }
}
