/*html{
  zoom: 75%;
}*/

.App {


  *, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

  }

  position: relative;
  text-align: left;
  color: #445259;
  font-size: 18px;
  overflow-x: hidden;

  h2 {
    font-size: 1.67em;
  }

  h3 {
    font-size: 1.44em;
  }

  a {
    text-decoration: none;
    color: #445259;
  }

  ul, ol {
    list-style: none;
  }

  main {
    display: flex;

    button {
      position: absolute;
      top: 150px;
      left: 30px;
      width: 150px;
      height: 25px;
      padding: 5px 15px;
      color: #FFF;
      background-color: #2cafe2;
      border: none;
    }
  }
}