.App {
  *, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  position: relative;
  text-align: left;

  a {
    text-decoration: none;
    color: rgb(90, 90, 90)
  }

  ul, ol {
    list-style: none;
  }

  main {
    display: flex;

    button {
      position: absolute;
      top: 150px;
      left: 30px;
      width: 150px;
      height: 25px;
      padding: 5px 15px;
      color: #FFF;
      background-color: #2cafe2;
      border: none;
    }
  }
}