.Header {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 75px;
	padding: 20px 40px 20px 30px;
	background-color: #1B7DFE;

	nav {
		margin-left: calc(100% - 540px);
		width: 500px;
		display: flex;
		justify-content: space-between;
		img {
			position: absolute;
			left: 30px;
			width: 75px;
		}
	}
	a {
		color: #fff;
	}
}
