.App {
  *, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box    ;
  }
  
  position: relative;
  text-align: left;

  a {
    text-decoration: none;
    color: rgb(90, 90, 90)
  }

  ul, ol {
    list-style: none;
  }

  main {
    display: flex;
  }
}